@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --blue: #4361ee;
  --cyan: #4cc9f0;
  --green: #99CC63;
  --purple: #7209b7;
  --hotpink: #f72585;
  --darkpurple: #3a0ca3;
  --lightpurple: #9f7af5;
  --almostblack: #202020;
}
body {
  color: white;
  background: #0c0c0c;
  font-family: "Inter", sans-serif;
}
p {
  padding: 1em;
  color: white;
}
.tomb {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: var(--almostblack);
  border-radius: .5em;
  max-width: 500px;
  padding: 1em;
  margin: 1em;
  position: relative;
}
.tomb img {
  height: auto;
  width: 12em;
  z-index: 1;
}
.tomb::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  height: 11em;
  width: 11em;
  left: 1em;
  top: 1em;
}
.tomb:nth-child(1)::before {
  background-color: var(--hotpink);
}
.tomb:nth-child(2)::before {
  background-color: var(--lightpurple);
}
.tomb:nth-child(3)::before {
  background-color: var(--purple);
}
.tomb:nth-child(4)::before {
  background-color: var(--darkpurple);
}
.tomb:nth-child(5)::before {
  background-color: var(--blue);
}
.tomb:nth-child(6)::before {
  background-color: var(--cyan);
}
h1 {
  font-size: 1.5em;
  color: var(--green);
}
h2 {
  padding-top: .6em;
}
.link {
  text-decoration: none;
  color: var(--green);
  position: relative;
}
.link::before {
  content: "";
  position: absolute;
  background: var(--green);
  height: 2px;
  width: 0;
  left: -7em;
  bottom: .7em;
  transition: 500ms;
}
.link:hover::before {
  width: 14em;
}
.container {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.logo {
  width: auto;
  height: 15em;
  margin-top: 1.5em;
}
form {
  padding: 0 2em;
  text-align: center;
  border-radius: .5em;
  background: var(--almostblack);
}
textarea {
  font-family: "Inter";
  resize: none;
}
label, textarea {
  display: block;
  padding: 1em;
}
input {
  width: 200px;
  height: 30px;
  padding: 1em;
}
button {
  margin: 1em;
  padding: .5em 1em;
  cursor: pointer;
}
.item {
  background: var(--almostblack);
  border-radius: .5em;
  text-align: center;
  max-width: 800px;
  margin: 1em auto;
  border: solid 5px;
  border-color: #f72585;
}

.replies {
  background: var(--almostblack);
  border-radius: .5em;
  text-align: center;
  max-width: 650px;
  margin: 1em auto;
}

.cat-title {
  text-align: center;
}
.error {
  width: 1000px;
  padding-top: 2.5em;
}
.flex {
  width: 1000px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.home {
  position: absolute;
  left: 5em;
  top: -5em;
  
}