@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --hotpink: #f72585;
  --lightpurple: #9f7af5;
  --purple: #7209b7;
  --darkpurple: #3a0ca3;
  --blue: #4361ee;
  --cyan: #4cc9f0;
  --green: #99CC63;
}
body {
  background: #0c0c0c;
  font-family: "Inter", sans-serif;
}
p {
  color: white;
}
.tomb {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: #111111;
  border-radius: 1em;
  max-width: 900px;
  padding: 1em;
  margin: 1em;
  position: relative;
}
.tomb img {
  z-index: 1;
}
.tomb p {
  padding: 1em;
}
.tomb::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  height: 18em;
  width: 18em;
  left: 6.2em;
  top: 5.7em;
}
.tomb:nth-child(1)::before {
  background-color: var(--hotpink);
}
.tomb:nth-child(2)::before {
  background-color: var(--lightpurple);
}
.tomb:nth-child(3)::before {
  background-color: var(--purple);
}
.tomb:nth-child(4)::before {
  background-color: var(--darkpurple);
}
.tomb:nth-child(5)::before {
  background-color: var(--blue);
}
.tomb:nth-child(6)::before {
  background-color: var(--cyan);
}
.link {
  text-decoration: none;
  color: var(--green);
  position: relative;
}
.link::before {
  content: "";
  position: absolute;
  background: white;
  height: 2px;
  width: 0;
  left: -10em;
  bottom: 1em;
  transition: 500ms;
}
.link:hover::before {
  width: 20em;
}
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.logo {
  height: 20em;
  margin-top: 1.5em;
}